body {
    box-sizing: border-box;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#hero {
    margin: auto;
    width: 50%; 
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}

.demo {
    /* text-align: center; */
    margin-top: 1rem;
} 

form {
    margin-top: 3rem;
}

/* button */
button {
    background-color: lightgreen;
}
/* #fahrenheitButton {
    background-color: rgb(130, 185, 240)
}
#celsiusButton {
    background-color: lightgreen;
} */

#toCelsiusDiv {
    margin-top: 2rem;
} 
